@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.blue {
  color: #21618c;
}

.logo {
  width: 160px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #21618c;
  font-weight: bold;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #21618c;
  border-radius: 4px;
}
.nav__link--primary:hover {
  text-decoration: none;
}

.btn__menu{
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: center;
  color: #21618c;
  display: none;
}

.menu__backdrop{
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  visibility: hidden;
  opacity: 0;
}

.menu--open .menu__backdrop{
  display: flex;
  visibility: visible;
  opacity: 1;
}

.menu--open{
  max-height:100vh;
  overflow-y: hidden;
}

.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__link{
  color: white;
  font-size: 40px;
}

.menu__list{
  padding: 32px 0;
}

.btn__menu--close{
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8;
  color: white;
}

/*

LANDING

*/

#landing {
  background-color: rgb(234, 242, 248);
}

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  padding-top: 20px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  color: #21618c;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #21618c;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.header__image--wrapper {
  padding: 20px;
  height: 100%;
  max-height: 50vh;
  z-index: 2;
}

.container {
  padding: 24px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.no-cursor{
  cursor: not-allowed;
}

/*

HIGHLIGHT

*/
#highlights {
    position: relative;
    max-width: 100vw;
  }
  
  #highlights:after,
  #highlights:before {
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #highlights:before {
    transform: translateY(-100%);
    top: 1px;
  }
  
  #highlights:after {
    transform: translateY(100%) rotate(180deg);
    bottom: 1px;
  }
  
  .highlight__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .highlight__para {
    text-align: center;
    max-width: 280px;
  }
  
  .highlight__image {
    border: 2px solid #21618c59;
    color: #21618c;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
  }
  
  .highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
  }

/* 

FEATURES 

*/

#featured {
    padding-top: 10vw;
    background-color: rgb(234, 242, 248); ;
}

.books{
  display: flex;
  flex-wrap: wrap;
}
.book{
  width: 25%;
  padding: 24px;
}

.book__image{
  max-height: 380px;
  transition: all 300ms ease;
  cursor: no-drop;
}

.books__image--wrapper{
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.book:hover .book__image{
  transform: scale(1.03);
}

.book__title{
  font-size: 20px;
  margin-bottom: 8px;
}

.book__title:hover{
  text-decoration: underline;
  cursor: no-drop;
}

.book__ratings{
  margin-bottom:8px ;
  color: #fabf2a;
}

.book__price--normal{
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}

/* 

EXPLORE

*/

#explore{
  background-color:rgb(234, 242, 248);
}

.explore__row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 

footer

*/

footer{
  background-color: #242424;
}

.footer__logo{
  display: flex;
}

.footer__logo--image{
  width: 160px;
  filter:grayscale(1) invert(1);
}

.footer__links,
.footer__copyright{
  color: #fff;
}

.footer__list{
  margin:20px 0 24px 0;
}

.footer__links{
  padding: 0 8px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES  */
@media (max-width:768px){
  .header__description{
    padding: 0 24px;
  }

  h1{
    font-size: 40px;
  }

  h2{
    font-size: 26px;
  }

  button{
    font-size: 18px;
  }

  .book{
    width: 50%;
  }
}
/* SMALL PHONES, LARGE SMARTPHONES */

@media(max-width:550px) {
  .nav__links{
    display: none;
  }

  .btn__menu{
    display: block;
  }

  .highlight{
    width: 100%;
    margin-bottom: 24px;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }
}